{% extends "base.html" %}

{% block  content %}

<div class='row'>
    <div class='col-sm-4'>
        <div class='post-date text-right'>
            {{p.created.strftime("%b, %d, %Y")}}
        </div>
    </div>

    <div class="post-subject col-sm-4">
        <p>{{p.subject}}</p>
    </div>

    <form method="post" class='col-sm-12'>
        <input type="hidden" name="id" value="{{p.key().id()}}">
        <input type="hidden" name="operation" value="delete">
        <button type="submit">X</button>
    </form>

    <a href="/blog/{{p.key().id()}}/updatepost">Edit</a>

</div>

<div class='row'>
    <div class="post-content col-sm-12">
        {{p._render_text | safe}}
    </div>
</div>

{% endblock %}











