<div class='row'>
    <div class='col-sm-12'>

        <div class='post-date'>
            {{p.created.strftime("%b, %d, %Y")}}
        </div>

        <div class="post-content">
            {{p._render_text | safe}}
        </div>

        <form method="post">
            <input type="hidden" name="id" value="{{p.key().id()}}">
            <input type="hidden" name="operation" value="delete">
            <button type="submit">X</button>
        </form>

        <a href="/blog/{{p.key().id()}}/updatepost">Edit</a>

    </div>
</div>

















